<!DOCTYPE html>
<html
  lang="{{ .Site.Language.Lang }}"
  class="color-toggle-hidden"
  {{ if default false .Site.Params.GeekdocDarkModeCode }}code-theme="dark"{{ end }}
>
  <head>
    {{ partial "head/meta" . }}
    <title>
      {{- if eq .Kind "home" -}}
        {{ .Site.Title }}
      {{- else -}}
        {{ printf "%s | %s" (partial "utils/title" .) .Site.Title }}
      {{- end -}}
    </title>

    {{ partial "head/favicons" . }}
    {{ partial "head/rel-me" . }}
    {{ partial "head/microformats" . }}
    {{ partial "head/others" . }}
    {{ partial "head/custom" . }}
  </head>

  <body itemscope itemtype="https://schema.org/WebPage">
    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MZ8TZ5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!-- Define feature image for search results or linking -->
    <a href="#" style="display: none;" class="image featured">{{ with .Site.Params.featured_image }}<img src="{{ . }}" alt="TrueNAS Open Storage logo"></img>{{end}}</a>
	{{ partial "svg-icon-symbols" . }}

    <div
      class="wrapper {{ if default false .Site.Params.GeekdocDarkModeDim }}dark-mode-dim{{ end }}"
    >
      <input type="checkbox" class="hidden" id="menu-control" />
      <input type="checkbox" class="hidden" id="menu-header-control" />
      {{ $navEnabled := default false .Page.Params.GeekdocNav }}
      {{ partial "site-header" (dict "Root" . "MenuEnabled" $navEnabled) }}


      <main class="container flex flex-even">
		<button class="scrollToTopBtn" title="Back to top"><span class="iconify" data-icon="mdi:chevron-right" style="font-size:30px";></span></button>
        {{ if $navEnabled }}
          <aside class="gdoc-nav">
            {{ partial "menu" . }}
          </aside>
        {{ end }}


        <div class="gdoc-page">
          {{ template "main" . }}
		  
          {{ partial "menu-nextprev" . }}
        </div>
        <aside class="sidebar-right">
          {{ partial "toc-panel" . }}
        </aside>
      </main>

      {{ partial "site-footer" . }}
    </div>

    {{ partial "foot" . }}
	<script src="/js/lightbox.js"></script>
  <!-- DocsBot integration -->
  <script type="text/javascript">window.DocsBotAI=window.DocsBotAI||{},DocsBotAI.init=function(e){return new Promise((t,r)=>{var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://widget.docsbot.ai/chat.js";let o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o),n.addEventListener("load",()=>{let n;Promise.all([new Promise((t,r)=>{window.DocsBotAI.mount(Object.assign({}, e)).then(t).catch(r)}),(n=function e(t){return new Promise(e=>{if(document.querySelector(t))return e(document.querySelector(t));let r=new MutationObserver(n=>{if(document.querySelector(t))return e(document.querySelector(t)),r.disconnect()});r.observe(document.body,{childList:!0,subtree:!0})})})("#docsbotai-root"),]).then(()=>t()).catch(r)}),n.addEventListener("error",e=>{r(e.message)})})};</script>
  <script type="text/javascript">
    DocsBotAI.init({id: "c6l7vGyugnoP9SSSoNXy/h6qDF4J2h3xfHKO9Nm6r"});
  </script>
  </body>
</html>
<script>
  function loadtheme(){
    let html = document.documentElement;
    let cur=localStorage.getItem("hugo-geekdoc");
    html.setAttribute("color-mode", cur);  
  }
  document.addEventListener('DOMContentLoaded',loadtheme())
  
</script>
<script>
var scrollToTopBtn = document.querySelector(".scrollToTopBtn");
var rootElement = document.documentElement;

function handleScroll() {
  var scrollTotal = rootElement.scrollHeight - rootElement.clientHeight;
  if (rootElement.scrollTop / scrollTotal > 0.10) {
    scrollToTopBtn.classList.add("showBtn");
  } else {
    scrollToTopBtn.classList.remove("showBtn");
  }
}

function scrollToTop() {
  rootElement.scrollTo({
    top: 0,
    behavior: "smooth"
  });
}
scrollToTopBtn.addEventListener("click", scrollToTop);
document.addEventListener("scroll", handleScroll);
</script>
